<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlers</key>
	<dict>
		<key>NormalDemo-FirstVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/normaldemofirstvc</string>
			<key>viewController</key>
			<string>FirstDemoViewController</string>
		</dict>
		<key>NormalDemo-SecondVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/normaldemosecondvc</string>
			<key>viewController</key>
			<string>SecondDemoViewController</string>
		</dict>
	</dict>
</dict>
</plist>
