<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlers</key>
	<dict>
		<key>NormalDemo-FirstVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/normaldemofirstvc</string>
			<key>viewController</key>
			<string>FirstDemoViewController</string>
		</dict>
		<key>NormalDemo-SecondVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/normaldemosecondvc</string>
			<key>viewController</key>
			<string>SecondDemoViewController</string>
		</dict>
		<key>TabbarDemo-ThirdVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/tabbardemothirdvc?tab=2</string>
			<key>viewController</key>
			<string>ThirdViewController</string>
		</dict>
		<key>TabbarHandler</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/tabbardemothirdvc</string>
			<key>class</key>
			<string>TabbarHandler</string>
		</dict>
		<key>InterceptorDemo</key>
		<dict>
			<key>viewController</key>
			<string>InterceptorDemoViewController</string>
			<key>url</key>
			<string>nd://jincieryi.com.cn/interceptordemovc</string>
		</dict>
		<key>LoginVC</key>
		<dict>
			<key>url</key>
			<string>nd://jincieryi.com.cn/login</string>
			<key>viewController</key>
			<string>LoginViewController</string>
		</dict>
	</dict>
	<key>interceptors</key>
	<dict>
		<key>登录拦截</key>
		<dict>
            <key>class</key>
            <string>ChirdInterceptor</string>
            <key>name</key>
            <string>login</string>
            <key>sort</key>
            <string>0</string>
            <key>urls</key>
            <array>
                <string>nd://jincieryi.com.cn/interceptordemovc</string>
            </array>
		</dict>
	</dict>
</dict>
</plist>
